@charset "utf-8";
* {
  margin: 0 auto;
}
.msg {
  color:red;
}

header {
  position: relative; 
  padding: 0 30px 10px;
  background-color: #a6eef3;
}
nav {
  position: fixed;
  z-index: 9999;
  right: 50px; 
  display: flex;
}

main {
  clear: both;
  position: relative;
  padding: 0 10vw;
  margin: 10px 0; 
}

#btn1 {
  float: right;
}

footer {
  position: fixed;
  bottom: 0px;
  clear : both;
  width : 100vw;  
  height : 30px; 
  background-color: #eeeeee;   
}
footer h6 {
  text-align: center; 
  padding-top: 10px;
}

.hidden {
/* color: white;  */
background-color: white;
color: white;
}

.bgred {
  background-color: red;
  color: white;
}
.bgwhite {
  background-color: white; 
}
.bgylgrn{
  background-color: yellowgreen; 
}
.bgwine{
  background-color: rgb(213, 130, 238); 
}